.navbar {

    display: flex;   
    background: linear-gradient( to right, var(--gris) 0%, var(--azul) 100% );
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;

};

.btn {
    text-transform: uppercase !important;
}

.degradado {
    background: linear-gradient( to right, var(--gris) 0%, var(--azul) 100% );
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
};


