.navbar {

    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 7.2rem;
    padding-left: 3.4rem; /*Para que la parte izquierda del nav se iguale a la derecha pq los links tienen su propio padding*/
    background: linear-gradient(to right, var(--blanco) 0%, var(--azul) 22%);
    user-select: none; /*Solo por cuestión de estetica, desactívalo si querés pero mejor dejalo así */
}

/* Buttons */
.navbar .nav-links a.btn {
    color: var(--blanco);
    text-decoration: none;
    text-transform: uppercase;
    border: 0.1rem transparent; /*Para que no se vean los bordes*/
    font-weight: 300;
    font-size: 2.7rem;
    margin: 0 1rem;
    position: relative;
}

.navbar .nav-links a.btn:hover {
    color: #caadad;
}


/* Comienzo del hover con dos lineas inferiores */
.navbar .nav-links a.btn::before,
.navbar .nav-links a.btn::after {
    content: '';
    position: absolute;
    border-bottom: 0.4rem solid var(--naranja);
    transition: 0.3s all;
}

.navbar .nav-links a.btn::before {
    bottom: 0rem;
    width: 0;
    right: 0;
}
.navbar .nav-links a.btn:hover:before {
    bottom: 0rem;
    width: 85%;
}
.navbar .nav-links a.btn::after {
    border-bottom: 0.4rem solid var(--naranja);
    bottom: -0.65rem;
    width: 0;
    left: 0;
}
.navbar .nav-links a.btn:hover:after {
    border-bottom: 0.4rem solid var(--naranja);
    bottom: -0.65rem;
    width: 60%;
    color: var(--naranja);
}
/* Final del hover con dos lineas inferiores */


/* Logo */
.logo {
    height: 7rem;
    width: 7rem;
    transition: 0.3s ease-in-out;
}






