/* Apartados genericos */
.figure section {
    overflow: hidden;
    user-select: none;
}

/* Imagen de fondo */
.hero {
    position: relative;
    background: url("../imagenes/imagen_inicio.png") center 36%/cover no-repeat;
    /* background-size: 106%; */
    width: 100%;
    height: calc(100vh - 7.2rem);
    transition: 0.3s ease-in-out;
    overflow: hidden;
    
}
.hero * {
    position: relative;
    z-index: 2;
}

@media screen and (min-width: 1300px) {
    .hero {
        background: url("../imagenes/imagen_inicio.png") 20% 36%/cover no-repeat;
        transform: scale(1.15);
        
    }
}

@media screen and (max-width: 980px) {

    .hero {
        background: url("../imagenes/imagen_inicio.png") center 36%/cover no-repeat;
        height: 70rem;
    }

}

@media screen and (max-width: 767px) {
    .hero {
        height: 50rem;
    }
}

/*  Sombra sobre la imagen de fondo */
.sombra::before {
    content: "";
    position: absolute;
    width: 100%;
    height: calc(100vh - 7.2rem);
    background: linear-gradient(to right, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.6) 35%, rgba(0, 0, 0, 0) 50%);
    pointer-events: none;
    z-index: 1;
}

@media screen and (max-width: 767px) {

    .sombra::before {
        height: 50rem;
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.6) 35%, rgba(0, 0, 0, 0.1) 100%);
    }
}

@media screen and (max-width: 980px) {

    .sombra::before {
        height: 70rem;
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.6) 35%, rgba(0, 0, 0, 0.1) 100%);
    }

}

@media screen and (min-width: 1300px) {
    
}

/* Texto principal sobre las imagenes*/
.text-container {
    line-height: 12rem;
    margin-top: 8%;
    position: absolute;
    top: 10%;
    left: 5%;
    z-index: 3;
    color: white;
    transition: 0.3s ease-in-out;
}

.text-container p {
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    transform: rotate(-10deg);
    font-weight: 300;
    font-size: 10rem;
    white-space: nowrap;
    color: var(--naranja);
    text-shadow: 
        -5px -5px 0 var(--azul),  
        5px -5px 0 var(--azul),
        -5px 5px 0 var(--azul),
        5px 5px 0 var(--azul);
    transition: 0.3s ease-in-out;
}

.text-container:hover {
    transform: scale(1.2);
}

.text-container:hover p:last-child {
    color: #b94c0c;
}

.text-container p:hover {
    text-shadow: 
        -5px -5px 0 #17207a,  
        5px -5px 0 #17207a,
        -5px 5px 0 #17207a,
        5px 5px 0 #17207a;
}

@media screen and (max-width: 980px) {


    .text-container {
        margin-top: 23%;
        position: absolute;
        top: 10%;
        left: 24%;
        z-index: 3;
        color: white;
        transition: 0.3s ease-in-out;
    }

    .text-container p {
        text-align: center;
        transform: rotate(0deg);
        margin: 0 auto;
        
    }

}

@media screen and (max-width: 767px) {


    .text-container {
        margin-top: 85%;
        position: absolute;
        top: 10%;
        left: 9%;
        z-index: 3;
        color: white;
        transition: 0.3s ease-in-out;
    }

    .text-container p {
        text-align: center;
        transform: rotate(0deg);
        margin: 0 auto;
        font-size: 8rem;
        
    }

}
