html {
    font-size: 62.5%; /*Para que cada Rem sea equivalente a 10 px*/
    box-sizing: border-box;
    scroll-snap-type: y mandatory;

}
*, *:before, *:after {
    box-sizing: inherit;
    transform: calc(100vh);
}

@import url('https://fonts.googleapis.com/css2?family=Londrina+Solid:wght@100;300;400;900&display=swap');

:root {

    /* Colores a usar */
    --azul: #212ca8;
    --naranja: #ff7101;
    --blanco: #FFF;
    --negro: #111111;
    --gris: #343A40;

    --fuentePrincipal: "Londrina Solid", sans-serif;
}

/* .londrina-unique {
  font-family: var(--font-londrina);
  font-optical-sizing: auto;
  font-weight: 400; /* Cambia este valor según lo necesites 
  font-style: normal;
} */

body {
    font-family: var(--fuentePrincipal);
    font-size: 1.6rem;
    line-height: 1.8;
}
.one, 
.two, 
.three {
    height: 100vh;
    scroll-snap-align: start;
}

h1, h2, h3 {
    font-weight: 900;
    line-height: 1.2;
    margin: 1rem 0 4rem 0;
}

h1{
    font-size: 4.8rem;
}
h2 {
    font-size: 5.8rem;
}
h3 {
    font-size: 5rem;
}
a {
    text-decoration: none;
}
img {
    max-width: 100%;
    display: block;
}
.container {
    max-width: 120rem;
    margin: 0 auto;
    width: 90%;
}
.btn {
    color: var(--blanco);
    /* background-color: var(--blanco); */
    border: 1px solid var(--gris);
    padding: .5rem 2rem;
    transition: background-color .3s;
    
}
 /*
.btn:hover {
    background-color: var(--gris);
    color: var(--blanco); 
}*/

/** Utilidades **/
.text-center {
    text-align: center;
}
.mt-5 {
    margin-top: 5rem;
}




::-webkit-scrollbar {
    width: 12px; 
  }
  
  ::-webkit-scrollbar-track {
    background: transparent; 
    background-color: var(--azul); 

  }
  
  ::-webkit-scrollbar-thumb {
    background-color: var(--azul); 
    border-radius: 10px; 
    border: 3px solid transparent; 
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background-color: var(--azul); 
  }
  
  /* Firefox */
  * {
    scrollbar-width: thin; 
    scrollbar-color: #888 transparent; 
  }
  
  @supports (-ms-overflow-style: none) {
    * {
      -ms-overflow-style: none; 
    }
  
    .container::-ms-scrollbar {
      display: none; 
    }
  }
  
/* 
body::-webkit-scrollbar{
  width: .8rem;
}

body::-webkit-scrollbar-thumb{
    background-color:#1b2381;
    border-radius: 1rem;
}

body::-webkit-scrollbar-track{
    color: var(--azul);
}

body::-webkit-scrollbar-track-piece{
    background-color: var(--azul); 
}*/


/* @keyframes show{
    from {
        opacity: 1;
        scale: 90%;
    }

    to {
        opacity: 1;
        scale: 100%;
    }
} */

/* .one, .two, .three {
    view-timeline-name: --nashe;
    view-timeline-axis: block;

    animation-timeline: --nashe;
    animation-name: show;
} */